.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.clockScreen {
  border: 5px solid yellow;
  border-radius: 50%;
  box-shadow: 5px 5px 3px 3px grey;
  width: 200px;
  height: 200px;
  margin: 1em auto;
}

.clockInfo {
  margin: 30% auto;
  color: ivory;
  .timerLabel {
    font: italic 2rem sans-serif;
  }
  .timeLeft {
    font: 2.5rem DS-Digital, sans-serif, Arial;
  }
}

@media screen and (min-width: 720px) {
  .clockScreen {
    width: 300px;
    height: 300px;
    margin: 2em auto;
  }

  .clockInfo {
    .timerLabel {font-size: 3rem;}
    .timeLeft {font-size: 4rem;}
  }
}
