@mixin font-size($font-size) {
  font-size: $font-size;
}

.timer {
  @include font-size(1.2rem);
  display: inline-block;
  margin: 0em .5em;
  width: 80%;
  .timerAdjust {
    @include font-size(2rem);
    display: inline-block;
    margin: .2em .2em;
    font-family: DS-Digital, sans-serif, Arial;
    }
}

@media screen and (min-width: 720px) {
  .timer {
    @include font-size(2rem);
    width: 30vw;
    .timerAdjust {
      @include font-size(3rem);
    }
  }
}