@font-face {
  font-family: "DS-Digital";
  src: url("../fonts/63f874d192fb3892d88d5e26f942b5e2.eot");
  src: 
  url("../fonts/63f874d192fb3892d88d5e26f942b5e2.eot?#iefix") format("embedded-opentype"),
  url("../fonts/63f874d192fb3892d88d5e26f942b5e2.woff2") format("woff2"),
  url("../fonts/63f874d192fb3892d88d5e26f942b5e2.woff") format("woff"),
  url("../fonts/63f874d192fb3892d88d5e26f942b5e2.ttf") format("truetype"),
  url("../fonts/63f874d192fb3892d88d5e26f942b5e2.svg#DS-Digital") format("svg");
}


body {
  background: salmon;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

button {
  background: none;
  border: none;
  color: aqua;
  cursor: pointer;
}

footer {
  margin: 1em auto;
  font-size: 1rem;
  color: teal;
  &:hover {
    color: ivory;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: not-allowed;
  }
  a {text-decoration: none;}
}

@media screen and (min-width: 720px) {
  h1 {
    font-size: 5rem;
    margin: 1em auto;
  }

  footer {
    margin: 2em auto;
    font-size: 2rem;
  }
}
